@import "tailwindcss";

.rock {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}


.special-elite {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}


.freckle-face-regular {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nunito-small {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.oswald{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.jim-nightshade {
  font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
}

.island-moments {
  font-family: "Island Moments", cursive;
  font-weight: 400;
  font-style: normal;
}


/*customized colors for the project */
@theme {
  --color-primary-100:#522a00;
  --color-secondy-100:#7b3f00;
  --color-tertiary-100:##B17010;
  --color-textLight-100:#e1ddd4;
  --color-surface-100:#b69f7c;
  --color-watermark-100:#afa692;
  --color-grainbkg-100:#E1DDD4
}